
<!--<header class="header" >-->
<!--<div class="header-content text-center  py-5">-->
<!--  <h1 class="text-primary" style="font-family: 'Andalus', sans-serif;">Welcome to our Online Shop</h1>-->
<!--  <p style="font-family: 'Andalus', sans-serif;">Your perfect destination for unique and heartfelt gifts</p>-->
<!--  <img src="img_1.png" alt="Welcome Image" class="img-fluid">-->
<!--</div>-->
<!--</header>-->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="ph2.jpg" class="d-block w-100" alt="...">

      <div class="carousel-caption top-caption text-center text-dark">
        <h5>Trendy Clothes</h5>
        <p>Discover the latest fashion trends and stylish designs</p>
        <a   class="btn btn-primary"  href="products">Explore</a>
      </div>

    </div>
    <div class="carousel-item">
      <img src="mob3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption  top-caption text-center text-dark ">
        <h5>latest Smartphones </h5>
        <p>Choose from the best smartphones with cutting-edge technology</p>
        <a   class="btn btn-primary"  href="products">Explore</a>

      </div>

    </div>
    <div class="carousel-item">
      <img src="lap.jpg" class="d-block w-100" alt="...">

      <div class="carousel-caption top-caption text-center text-dark">
        <h5>Top Laptops</h5>
        <p> powerful performance and sleek designs for all your nedds .</p>
        <a   class="btn btn-primary"  href="products">Explore</a>

      </div>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
