<footer class="bg-light py-4">
<div class="container text-center">
  <p>Follow us on:</p>
  <a
    (click)="openLink('https://github.com/YourGitHubUsername')"
    style="text-decoration: none;"
  >
    <i
      class="fab fa-github fa-2x me-3"
      style="color: #333; transition: all 0.3s ease;"
      onmouseover="this.style.opacity='0.7';"
      onmouseout="this.style.opacity='1';"
    ></i>
  </a>
  <a
    (click)="openLink('https://www.facebook.com/YourFacebookProfile')"
    style="text-decoration: none;"
  >
    <i
      class="fab fa-facebook fa-2x me-3"
      style="color: #3b5998; transition: all 0.3s ease;"
      onmouseover="this.style.opacity='0.7';"
      onmouseout="this.style.opacity='1';"
    ></i>
  </a>
  <a
    (click)="openLink('https://www.linkedin.com/in/YourLinkedInProfile')"
    style="text-decoration: none;"
  >
    <i
      class="fab fa-linkedin fa-2x me-3"
      style="color: #0077b5; transition: all 0.3s ease;"
      onmouseover="this.style.opacity='0.7';"
      onmouseout="this.style.opacity='1';"
    ></i>
  </a>
  <a
    (click)="openLink('https://twitter.com/YourTwitterProfile')"
    style="text-decoration: none;"
  >
    <i
      class="fab fa-twitter fa-2x"
      style="color: #1da1f2; transition: all 0.3s ease;"
      onmouseover="this.style.opacity='0.7';"
      onmouseout="this.style.opacity='1';"
    ></i>
  </a>
  <p class="mt-3">© 2024 Online Shop. All rights reserved.</p>
</div>
</footer>
